cffi==1.8.3
crispy-forms-foundation==0.5.4
cryptography==1.5.2
decorator==4.0.10
Django==1.10.2
django-crispy-forms==1.6.0
django-debug-toolbar==1.6
django-sitetree==1.6.0
django-zurb-foundation==5.5.0
djangosaml2==0.14.5
ecdsa==0.13
enum34==1.1.6
Fabric==1.12.0
future==0.15.2
idna==2.1
ipaddress==1.0.17
paramiko==2.0.2
Paste==2.0.3
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pycryptodomex==3.4.2
pyOpenSSL==16.1.0
pysaml2==4.2.0
python-dateutil==2.5.3
python-memcached==1.58
pytz==2016.7
repoze.who==2.3
requests==2.11.1
six==1.10.0
sqlparse==0.2.1
WebOb==1.6.1
zope.interface==4.3.2
