{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TechOps Requirements Form{% endblock title %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

</head>
<body>
{% block content %}
    <h1>Tech Requirements Form</h1>

        <p>
            If you require any equipment or support for techops, please fill this form out to the best of your abilities. You can resubmit the form if your needs change.
        </p>
    {% crispy form %}
{% endblock content %}