{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}TechOps Requirements Form{% endblock title %}
{% block content %}
                <div class="row">
                    <div class="large-12 columns">
                        <h1>Tech Requirements Form</h1>
                        <p>If you require any equipment or support for techops, please fill this form out to the best of your abilities. You can resubmit the form if your needs change.</p>
                    </div>
                </div>
                {% crispy form %}
{% endblock content %}